* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: black;
  color: white;
}
header nav {
  background-color: #6e6262;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav h1 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
header nav form {
  display: flex;
  justify-content: center;
}
.searchbox {
  flex-grow: 1;
  margin-right: 12px;
}

.searchbox,
.searchbutton {
  border: none;
  padding: 4px;
  font-size: 10px;
  border-radius: 6px;
}

.searchbutton {
  background-color: antiquewhite;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.searchbutton:hover {
  background-color: red;
  color: white;
  scale: 1.2;
}

.recepie-container {
  text-align: center;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  place-items: center;
}
.recpie {
  background-color: white;
  display: flex;
  flex-direction: column;
  color: black;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1),
    -5px -5px 10px rgba(34, 34, 34, 0.5);
  cursor: pointer;
  max-width: 350px;
}
.recpie img {
  height: 300px;
}
.recpie h3 {
  font-size: 24px;
  margin-block: 5px;
}
.recpie p {
  font-size: 20px;
  color: #6e6262;
  margin: 5px 0;
}
.recpie span {
  font-weight: 600;
}
.recpie button{
 font-size: 20px;
 font-weight: 600;
 padding: 10px;
 border-radius: 5px;
 cursor: pointer;
 margin: 18px auto;
 background-color: antiquewhite;
 transition: background-color 0.3s ease-in-out;
 
} 
.recpie button:hover{
  background-color: red;
  color: white;
  scale: 1.2;
}

/* Responsive code */
@media screen and (max-width: 600px) {
  header nav {
    flex-direction: column;
  }
  header nav form {
    width: 80%;
    margin-top: 12px;
  }
}
